:root {
    --bg-color: 14, 14, 14;
    --dialog-bg-color: 28, 28, 28;
}

@keyframes typingHeaderLeft {
    0% {
        width: .5em;
        margin-right: 0;
    }

    50% {
        width: .5em;
        margin-right: 0;
    }

    100% {
        width: 5em;
    }
}

@keyframes typingHeaderRight {
    0% {
        width: 3.25em;
        margin-left: 0;
    }

    50% {
        width: 3.25em;
        margin-left: 0;
    }

    100% {
        width: 8em;
    }
}

html {
    background-color: rgb(var(--bg-color));
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h4, h5 {
    font-size: 1rem;
}

#title {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3em 0 3em 0;
    width: 100%;
}

#title h1 {
    margin: 0;
    margin-right: .25em;
    font-family: monospace;
    font-size: 5em;
    letter-spacing: 0.075em;
    row-gap: 0;
    text-align: right;
    max-width: fit-content;
    overflow: hidden;
    animation: typingHeaderLeft 1.2s;
}

#title h1:nth-of-type(2) {
    margin-right: 0;
    margin-left: .25em;
    text-align: left;
    direction: rtl;
    animation: typingHeaderRight 1.2s;
}

#intro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#intro div {
    width: 30%;
    min-width: min-content;
}

#intro h2 {
    font-size: 2em;
}

#intro p {
    font-size: 1.5em;
}

#links {
    display: flex;
    justify-content: center;
    gap: 1em;
    font-size: 4em;
    margin-top: .5em;
}

#links a{
    text-decoration: none;
}

#links img{
    height: 3.4rem;
}
#links img:hover{
    filter: opacity(.7);
}

#highlights > div, #experience > div {
    display: flex;
    justify-content: space-evenly;
    gap: 3em;
    flex-wrap: wrap;
    align-items: center;
}

#highlights > div > *, #experience > div > * {
    flex: 1;
    max-width: 50%;
    max-height: min-content;
    min-width: min(20em, 100%)
}

.vertical-divider {
    border: solid 1px white;
    margin: 1em;
    width: 0 !important;
}

.text-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

.txt-left {
    text-align: left;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

footer {
    text-align: center;
}

a:link, :visited {
    color: white;
}

a:hover:link {
    color: rgba(255, 255, 255, 0.7);
}

button {
    background-color: white;
    color: black;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
}

button:hover {
    background-color: rgba(255,255,255, 0.75);
    cursor: pointer;
}

blockquote {
    text-align: left;
    border-left: solid 2px white;
    padding-left: 1em;
    width: 75%;
    margin-left: 1.5em;
}

section {
    margin-left: .5rem;
    margin-right: .5rem;
}

article {
    border-radius: 5px;
    text-shadow: rgb(var(--bg-color)) 2px 1px 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article h2 {
    max-width: 75%;
}

.summary {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.logoLink {
    position: absolute;
    top: 0.5rem;
    left: 0.5em;
    font-size: 3rem;
    text-decoration: none;
}

.logoLink img {
    height: 2.5rem;
    filter: drop-shadow(-3px 10px 10px black);
}

.logoLink:hover img {
    filter: drop-shadow(-3px 10px 10px black) brightness(0.8);
}

dialog{
    color: white;
    background-color: rgb(var(--dialog-bg-color));
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    max-width: 70em;
    box-sizing: border-box;
}

dialog div, dialog h1 {
    text-align: left;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, .2);
}

dialog h1 {
    font-size: 2.5em;
}

dialog img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

dialog > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

dialog div div {
    width: 50%;
    flex-grow: 1;
}

dialog p {
    padding: 0 .5em 0 .5em;
}

dialog figure {
    flex: 0;
    max-width: min-content;
    margin:0;
}

dialog figure img {
    max-width: 95vw;
    height: auto;
}

dialog details {
    padding-left: 1em;
}

dialog details summary {
    font-size: 1.2em;
    font-weight: bold;
}

dialog table {
    width: 100%;
    margin-bottom: 1em;
}

.dialogHeader {
    display: flex;
    justify-content: right;
    flex-direction: row;
}

.dialogHeader h1 {
    margin-right: auto;
}

.dialogHeader button {
    font-size: xx-large;
    color: white;
    background-color: transparent;
}

.dialogHeader a {
    text-decoration: none;
}

.dialogHeader .fa {
    font-size: xx-large;
}

.dialogHeader a img {
    height: 2em;
    min-width: 2em;
}

.dialogHeader a:hover img {
    filter: brightness(0.8);
}

.dialogHeader button:hover {
    color: rgba(255, 255, 255, .8);
}

.dialogHeader button:active {
    color: rgba(255, 255, 255, .5);
}


table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
    padding: 0.35rem;
}

.close-button {
    position: sticky;
    bottom: 0;
}

hr {
    margin: 3em;
}

.mini-hr {
    margin-right: 12%;
    margin-left: 12%;
    border-color: rgba(255, 255, 255, 0.05);
    border-width: 2px;
}
pre {
    display: flex;
    justify-content: center;
    text-align: left;
}
code {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1.5em;
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.7);
    overflow-x: auto;
    max-width: 75vw;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
    margin-top: .75em;
    margin-bottom: .75em;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
    border-radius: 10px;
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }

@media only screen and (max-width: 650px) { 
    #title {
        min-height: 10em;
    }

    #title h1 {
        margin-right: 0;
        margin-left: 0;
    }

    section {
        margin: 0;
    }

    .summary {
        max-width: 100%;
    }

     dialog div div {
         width: unset;
     }
     
     dialog {
        padding: 0;
        max-height: 100%;
        border: none;
        border-radius: 0;
        padding: 0.5em;
    }

     dialog figure {
         margin:0;
     }

    dialog > div {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 420px) {
    #title{
        min-height: 6em;
        margin-bottom: 0;
    }
    #title h1 {
        font-size: 2.9em;
    }

    #intro {
        flex-direction: column;
        align-items: center;
    }

    #intro div {
        text-align: center;
    }

    #intro .vertical-divider {
        width: 90% !important;
    }
    dialog img {
        float: none !important;
    }
}